{% extends 'base.html.twig' %}

{% block title %}Registration
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="form">
	<br>
	<h1 id="register">Register :</h1>

	{{ form_start(RegistrationType) }}
	{{ form_row(RegistrationType.email) }}
	<br>
    {{ form_row(RegistrationType.roles) }}
	<br>
	{{ form_row(RegistrationType.password.first, {
            label: 'password'
        }) }}
	<br>
	{{ form_row(RegistrationType.password.second, {
            label: 'repeat password'
        }) }}
	<br>
	<div style="display:none">
	{{ form_row(RegistrationType.createdAt) }}
	</div>
    {{ form_row(RegistrationType.agreeTerms) }}

	
	
	</br>
	<button class="uk-button uk-button-primary" type="submit" class="btn">Registration</button>
	{{ form_end(RegistrationType) }}
	</div>
{% endblock %}
