{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <img class="image" src="{{asset("image/home.jpg")}}" alt="img">
    <div class="continer" >
        <div class="flex" >
            <h3>Ajouter Une Avis</h3>
            <button><a href="{{path('Avis_add')}}"> Ajouter Une Avis </a></button>
        </div>
        <div class="scrolling-wrapper">
            <article class="box">
                <table>
                    <thead>
                        <tr>    <th>Tout les Avis</th>  </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>
                                    <a href="{{ path("avis_tout",{'id':result.id}) }}">{{ result.voiture.modele }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
    </div>
    <h2>Les avis sur des voitures</h2>
    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th>Modele</th>
                <th>text</th>
                <th>modifier</th>
                <th> Delete </th>
                
            </tr>
        </thead>
        <tbody>
            {% for avi in avis %}
                <tr>
                    <td>
					    <a href="{{ path("avis_show",{'id':avi.id}) }}">{{ avi.voiture.modele }}</a>
				    </td>
                    <td>{{ avi.text }}</td>
                    <td><a class="uk-button uk-button-primary "  href="{{ path('Avis_edit',{'id':avi.id}) }}">modifier</a></td>
                    <td>
					    <a class="uk-icon-link" uk-icon="trash" href="{{ path('avis_del', {'id':avi.id}) }}"> </a>
				    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
{% endblock %}