{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <figure id="banner">
                    <img class="image-avis" src="{{asset("image/home1.png")}}" alt="img">
                    <figcaption>
                       <h1>Pour Ajouter Une Avis il faut click sur le bottons :) </h1>
                        <a class="lien" class="button" href="{{path('Avis_add')}}">
                            Ajouter Une Avis
                        <i class="fas fa-angle-right"></i></a>
                    </figcaption>
                </figure> 

    <div class="continer" >
        <div class="scrolling-wrapper">
            <article class="box">
                <table>
                    <thead>
                        <tr>    <th>Tout les Avis</th>  </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>
                                    <a href="{{ path("avis_tout",{'id':result.id}) }}">{{ result.voiture.modele }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
    </div>
    <h2>Les avis sur des voitures</h2>
    <table class="uk-table uk-table-hover" class="tab">
        <thead>
            <tr>
                <th>Modele</th>
                <th>text</th>
                <th>modifier</th>
                {% if is_granted("ROLE_ADMIN") %}
                <th> Delete </th>
                 {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for avi in avis %}
                <tr>
                    <td>
					    <a href="{{ path("avis_show",{'id':avi.id}) }}">{{ avi.voiture.modele }}</a>
				    </td>
                    <td>{{ avi.text }}</td>
                    <td><a class="uk-button uk-button-primary "  href="{{ path('Avis_edit',{'id':avi.id}) }}">modifier</a></td>
                    {% if is_granted("ROLE_ADMIN") %}
                    <td>      
					    <a class="uk-icon-link" uk-icon="trash" href="{{ path('avis_del', {'id':avi.id}) }}"> </a> 
				    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
{% endblock %}