{% extends 'base.html.twig' %}

{% block body %}
<a class="link" href="{{ path('avis_index') }}" > Retour </a>
<h1 class="uk-text-center">Bienvenue sur des avis sur ce modele</h1>
        <div class="uk-container uk-container-small">
        
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th>Modele</th>
                    <th>Text</th>
                    <th>note</th>
                    <th>DateAvis</th>
                    <th>Avis par user :</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ resultat.voiture.modele }}</td>
                    <td>{{ resultat.text }}</td>
                    <td class="uk-icon-link"> Note :
                    {% for i in 1..resultat.note %}
                        <a class="uk-icon-link" uk-icon="star" href="{{path("avis_show",{'id':resultat.id}) }}" > </a>
                    {% endfor %}

</td>
                    
                    <td>{{ resultat.dateAvis|date("d/m/Y") }}</td>
                    <td>{{ resultat.user.email }}</td>
                </tr>
            </tbody>
        </table><br><br>
        
        </div>

{% endblock %}