{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
<br>
        <div id="info"><h4 class="heading-color">Des Voitures valable ~ </h4></div>
        <div class="uk-container uk-container-small">
            <table class="uk-table uk-table-hover" id="shows">
                <thead>
                    <tr>
                        <th>Voitures</th>
                        <th class="text">Modele</th>
                        <th class="text" id="mobile-dispnon">Couleur </th>
                        <th class="text">NprPort</th>
                        {% if is_granted("ROLE_ADMIN") %}
                        <th class="text">modifier</th>
                        <th class="text">Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                {% for voiture in voitures %}
                    <tbody>
                        <tr>
                            <td>{{voiture.modele.marque}}</td>
                            <td class="text">
                                <a href="{{ path("Voiture_show",{'id':voiture.id}) }}"> {{ voiture.modele }} </a>
                            </td>
                            <td class="text" id="mobile-displnon">{{voiture.couleur }}</td>
                            <td class="text">{{voiture.nbPortes}}</td>
                            {% if is_granted("ROLE_ADMIN") %}
                            <td><a   href="{{ path('Voiture_edit',{'id':voiture.id}) }}">modifier</a></td>
                            <td class="text">
					            <a class="uk-icon-link" uk-icon="trash" href="{{ path('Voiture_del', {'id':voiture.id}) }}"> </a>
				             </td>
                            {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

{% endblock %}
