<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css"/>
			<link rel="stylesheet" href="{{ asset("css/style.css") }}">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="uk-container uk-container-large">
                    <nav class="uk-navbar-container" uk-navbar>
                        <img id="icon"src="{{ asset("image/try2.jpg") }}" alt="no-image">
                        <div class="uk-navbar-center">
                            <ul class="uk-navbar-nav">
                                
                                {% if app.user %}
                                    {% if is_granted("ROLE_ADMIN") %}

                                    {% endif %}
                                    <li class="uk-active"><a href="{{ path("home") }}">home</a></li>
                                    <li class="uk-active"><a href="{{ path("activitys_index") }}">activity</a></li>
                                    <li class="uk-active"><a href="{{ path('logout') }}">LogOut</a></li>
                                {% else %}
                                    <li class="uk-active"><a href="{{ path('app_login') }}">Connexion</a></li>	
                                    <li class="uk-active"><a href="{{ path('registration') }}">Inscription</a></li>
                                    
                                {% endif %}
                                
                                
                            </ul>
                        </div>
                    </nav>
                </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
